.dashboard{
    overflow: hidden;;
    }
    .images{
        width: 160px;
        height: 75%; 
        }
        .text{
        
        font-size: 14px;
        font-weight: 700;
        }
        .architech{ 
        font-size: 14px;
        font-weight: 700; 
        }
    
    .search{
    font-size: xx-large;
    font-weight: bold;
    color: white;
     padding-left: 267px;
    }
    .box{
        width: 57%;
    height: 52px;
    font-size: small;
    }
    .btn1{
    width: 80px;
    }
    
    .card1{
        padding: 20px;
    width: 130%;
    box-shadow: 6px 6px 9px #E1E3E4;
    }
    .card2{
        height: 115%;
        width: 52%;
        left: 9%;
        position: relative;
        top: 46px;
        margin-bottom: 58px;
    }
    .card3{
        width: 239%;
    }
    .image-box {
    position: relative;
    }
    
    .image-box__background,
    .image-box__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    }
    
    .image-box__background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: var(--image-url);
    
    z-index: 1
    }
    
    .img{
    width: 1548px;
    height: 265px;
    z-index: 0;
    }
    
    .image-box__content {
    position: relative;
    
    z-index: 3;
    height: auto;
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .imagetag{
        margin: -31px 0px 0px 105px;
    }

    .profileimage{ 
        width: 63px;
        border-radius: 99px;
        height: 60px;
    }
    .name1{
        margin-left: 0px !important;
    }
    .job{
    margin-top: 14%;
    margin-left: 149px;
    font-size: x-large;
    color: gray;
    }
    .new{
    font-weight: bold;
    }
    .position{
        font-size: 21px;
    }
    .name{
    font-size: small;
    font-weight: bold;
    }
    .company{
    font-size: 15px;
    color: #9C9C9B;
    }.company1{
        font-weight: bold;
    font-size: 21px;
    color: #9C9C9B;
    }

    .enevlop{
        color: #9C9C9B;
    }
    .more{
    float: right;
    }
    .pi{
        font-size: 25px;
    }
    .profileImage{
        width: 45px;
        border-radius: 25px;
        }
       .nme {
        font-weight: bold;
        }
       .deteminate {
            background-color: blue;
             height: 4%;
        }
        .perform{
            font-size: small;
    font-weight: bold;
        }
        .profile{
            font-size: small;
    font-weight: bold;
    color: blue;
        }

    .hardware{
        margin-left: 38%;
    }

   
        .furniture{
        width: 160px;
        height: 75%; 
        
        }
        .hardware{
        font-weight: bold;
        margin-left: 40%;
        font-size: x-large;
        }
       
        .ops{
        
        font-size: 14px;
        font-weight: 700;
        }
        

        .cardmenu:hover{
           background-color: #f7e2e2;
        }
        .head{
            background-color: blue;
            background-image: linear-gradient(141deg, #1A8AEE 2%, #1fc8db 51%, #2cb5e8 75%);
          }
