<!-- <div class="Dashboard">
    <div class="row head">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-4">
            <div class="row">
                <span class="search">Search Jobs</span>
            </div>
            <div class="row">
                <input type="text" placeholder="Search Employee by name,email id..." class="box">
                <button type="submit" class="btn-primary btn1">Search</button>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 employee"><span>Employee Details:</span></div>
        <div class="col-sm-8"></div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-4">
        <div class="card card1">
            <div class="row mt-2">
                <div class="col-sm-5"> <span class="name">Employee Name :</span></div>
                <div class="col-sm-4"> <span class="details">Rani Giramkar</span></div>
                <div class="col-sm-1"> <i class="pi pi-pencil"></i></div>
                <div class="col-sm-2"><i class="pi pi-trash"></i></div>
            </div>
            <div class="row">
                <div class="col-sm-5"> <span class="name">Skills :</span></div>
                <div class="col-sm-7"> <span class="details">Java,HTML</span></div>
            </div>
            <div class="row mt-1 ">
                <div class="col-sm-5"> <span class="name">Email ID :</span></div>
                <div class="col-sm-7"> <span class="details">ranigiramkar@gmail.com</span></div>
            </div>
            <div class="row mt-1 ">
                <div class="col-sm-5"> <span class="name">Contact :</span></div>
                <div class="col-sm-7"> <span class="details">8788294113</span></div>
            </div>
          
        </div>
    </div>
</div>
</div> -->

<div class="Dashboard">
    <div class="row head">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 mt-4">
            <div class="row">
                <span class="search">Search Jobs</span>
            </div>
            <div class="row">
                <input type="text" placeholder="Search Employee by name,email id..." class="box">
                <button type="submit" class="btn-primary btn1">Search</button>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row my-3 mt-3 ml-5 mr-5">
        <div class="col-md-3 col-sm-4 col-lg-4 col-12 my-3" *ngFor="let dataone of infodetailemployee ">
            <div class="role-card card-border">

                <div class="row mt-2">
                    <div class="col-sm-5"> <span class="name">Employee Name :</span></div>
                    <div class="col-sm-4"> <span class="details">{{dataone?.firstName}} {{dataone?.lastName}}</span></div>
                    <div class="col-sm-1"> <i class="pi pi-pencil"></i></div>
                    <div class="col-sm-2"><i class="pi pi-trash"></i></div>
                </div>
                <div class="row">
                    <div class="col-sm-5"> <span class="name">Skills :</span></div>
                    <div class="col-sm-7"> <span class="details">Java,HTML</span></div>
                </div>
                <div class="row mt-1 ">
                    <div class="col-sm-5"> <span class="name">Email ID :</span></div>
                    <div class="col-sm-7"> <span class="details">{{dataone?.email}}</span></div>
                </div>
                <div class="row mt-1 ">
                    <div class="col-sm-5"> <span class="name">Contact :</span></div>
                    <div class="col-sm-7"> <span class="details">{{dataone?.phoneNo}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>