<div class="row">
    <div class="col-md-3 col-sm-4 col-lg-2 col-12">
        <div class="role-card card-border">
            <div class="role">Role Name</div>
            <div class="title">Dhanshri</div>
            <div class="footer">
                Role Type : <strong>Admin</strong>
                <div class="pull-right icons">
                    <img class="icon-buttons"
                        src="assets/icons/edit_ic.png" >
                    <img class="icon-buttons" 
                        src="assets/icons/delete_ic.png" >
                </div>
            </div>
        </div>
    </div>
</div>
