.logo{
    float: right;
    }
    .job{
    float: right;
    font-weight: bold;
    }
    .more{
    font-weight: bold;
    color: blue;
    }
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }
    
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }
    .bullet{
        list-style-type: none;
        color: gray;
       
    }
    :host ::ng-deep.ui-overlaypanel-content{
        background-color: #F5F5F5;
    }
      a:hover {
        
        color: #0000ff7a;
      }