.logo{
    float: right;
    }
    .job{
    float: right;
    font-weight: bold;
    }
    .more{
    font-weight: bold;
    color: blue;
    }
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }
    
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }
    .bullet{
        list-style-type: none;
        color: gray;
       
    }
    :host ::ng-deep.ui-overlaypanel-content{
        background-color: #F5F5F5;
        font-weight: bold;
        
    }
      a:hover {
        
        color: #0000ff7a;
      }

      .hidden{
        font-weight: normal;
        font-size: small;
      }
    //   li:before { 
    //     content: "";
    //     border-color: transparent #111;
    //     border-style: solid;
    //     border-width: 0.35em 0 0.35em 0.45em;
    //     display: block;
    //     height: 0;
    //     width: 0;
    //     left: -1em;
    //     top: 0.9em;
    //     position: relative;
    // }
    .markall{
      float: right;
    }
    .notify{
      list-style-type: none;
    }
    
    .mark{
      background: none !important;
font-size: small;
    }
    :host ::ng-deep.ui-overlaypanel-content{
      background: none !important;
    }
   
    .line{
      border-bottom: 1px solid 	blue;
      padding: 0px 0px 0px 0px;
      
    }
    .notes{
      
    padding-bottom: 10px;
    padding-top: 10px;
   
 
    }
    .notebar{
      padding-top: 12px;
      border-bottom: 1px solid 	blue;
      margin-bottom: 0px !important;
    }
    .notebar:hover{
background-color: 	#DCDCDC;
cursor: pointer;


    }
    :host ::ng-deep.ui-overlaypanel .ui-overlaypanel-content {
      padding:0px !important
    }
    .seeall{
      padding: 11px 0px 11px 0px;
    }
    :host ::ng-deep.ui-dialog .ui-dialog-titlebar{
      background-color: #BA55D3;
    }
    .jobid{
      color: rebeccapurple;
    }