.logo{
    float: right;
    }
    .job{
    float: right;
    font-weight: bold;
    }
    .more{
    font-weight: bold;
    }
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }
    
    .profileImage{
    width: 45px;
    border-radius: 25px;
    }