<div class="row">
    <div class="col-sm-3 my-3"><img src="../../../assets/beauto_logo.png" class="bgimg logo"></div>
    <div class="col-sm-1 my-3"><a href="User/candidate" class="job">Jobs</a></div>
    <div class="col-sm-1 my-3"><a class="more" (click)="op1.toggle($event)">More</a></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-1 my-3"><img src="../../../assets/Notification.png"   (click)="op3.toggle($event)"
            class="bgimg logo"></div>
    <div class="col-sm-1 my-3"><a class="more" (click)="op.toggle($event)">MY JOB</a></div>
    <div class="col-sm-2 my-1"> <img class="profileImage" src="http://lorempixel.com/100/100" /></div>
</div>

<p-overlayPanel #op>
    <ul class="bullet">
        <div class="row">
            <div class="col-sm-11">
                <li class="my-1 profile"><a>Edit Profile</a></li>
                <li class="my-1"><a>Recommended Jobs</a> </li>
                <li> <a>Logout</a> </li>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </ul>
</p-overlayPanel>
<p-overlayPanel #op1>
    <ul class="bullet">
        <div class="row">
            <div class="col-sm-11">
                <li class="my-1 profile"><a (click)="hidden = !hidden">Team</a></li>
                <a href="HR/team" *ngIf="role !== '0'">
                    <li class="hidden ml-4" *ngIf="hidden">Employee</li>
                </a>
                <a href="">
                    <li class="hidden  ml-4" *ngIf="hidden">Job Seeker</li>
                </a>
                <li class="my-1"><a>Job</a></li>
                <li class="my-1"><a>Job Applied</a></li>
            </div>
            <div class="col-sm-1"></div>
        </div>

    </ul>
</p-overlayPanel>
<div>
    <p-overlayPanel #op3>
            <div class="row">
                    <div class="col-sm-7">
                      <span class="note">Notifications</span></div>
                    <div class="col-sm-5"> <a href="">Mark All as Read</a></div>
                  </div>
                  <hr>
                  <ul class="div_hover mb-2" *ngFor="let data of notificationData;let i=index">
        
                    <li class="notify" (click)="viewProfile(i)">
                      <div class="row ">
                        <div class="col-sm-2 ml-0 pl-0"> <img class="profileImage" src="http://lorempixel.com/100/100" /></div>
                        <div class="col-sm-10"><span class="notename"> {{data.firstName}} :- </span>{{data.designation}}</div>
                      </div>
        
        
                    </li>
                    <hr>
                  </ul>
                  <div>
                    <p class="text-center"><a href="">See All</a></p>
                  </div>
        

    </p-overlayPanel>
    <div class="Centered">
            <p-dialog [(visible)]="display" [style]="{width: '62%'}">
              <p-header class="dialogHeader mt-2">
                <span class="ml-2 mt-2 text-primary">Notification Details</span>
              </p-header>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">First Name:</div>
                <div class="col-sm-9 lead">{{noteData?.firstName}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">Last Name:</div>
                <div class="col-sm-9 lead">{{noteData?.lastName}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">Date:</div>
                <div class="col-sm-9 lead">{{noteData?.date}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">contact:</div>
                <div class="col-sm-9 lead">{{noteData?.contact}}</div>
              </div>
      
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">Email Id:</div>
                <div class="col-sm-9 lead">{{noteData?.emailId}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">jobId:</div>
                <div class="col-sm-9 lead">{{noteData?.jobId}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">Designation:</div>
                <div class="col-sm-9 lead">{{noteData?.designation}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">status:</div>
                <div class="col-sm-9 lead">{{noteData?.status}}</div>
              </div>
              <div class="row my-3">
                <div class="col-sm-3 text-right pack">notificationId:</div>
                <div class="col-sm-9 lead">{{noteData?.notificationId}}</div>
              </div>
            </p-dialog>
          </div>
</div>