<div class="row">
    <div class="col-sm-3 my-3"><img src="../../../assets/beauto_logo.png" class="bgimg logo"></div>
    <div class="col-sm-1 my-3"><a href="" class="job">Jobs</a></div>
    <div class="col-sm-1 my-3"><a href="" class="more">More</a></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-1 my-3"><img src="../../../assets/Notification.png" class="bgimg logo"></div>
    <div class="col-sm-1 my-3"><a href="" class="more">MY Naukri</a></div>
    <div class="col-sm-2 my-1"> <img class="profileImage" src="http://lorempixel.com/100/100" /></div>
    </div>
    