<div class="Dashboard">
    <div class="row head">
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="c0l-sm-8">
            <div class="card card1">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <p class="ml-5 title mt-3">CSS Corp Hiring For Java Developer</p>
                        </div>
                        <div class="row mt-0">
                            <p class="ml-5 company">Beauto System Pvt Ltd</p>
                        </div>
                        <div class="row company ml-5 my-1">
                            <i class="pi pi-briefcase" aria-hidden="true"></i>
                            <span class="ml-1">{{dataone?.experienceInYears}} Year</span>
                        </div>
                        <div class="row company ml-5 my-1">
                            <i class="pi pi-map-marker" aria-hidden="true"></i>
                            <span class="ml-1">pune</span>
                        </div>
                        <div class="row company ml-5 my-1">
                            <i class="pi pi-android"></i>
                            <span class="ml-1">{{dataone?.skills}}</span>
                        </div>
                        <div class="row company ml-5 my-1">
                            <i class="pi pi-file-o"></i>
                            <span class="ml-1">Not Disclosed</span>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="row mt-4">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-5"> <span> <img src="../../../assets/output-onlinepngtools.png"
                                        class="logo">
                                </span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-6"> <button type="submit" class=" btn1">Save</button></div>
                            <div class="col-sm-6"> <button type="submit" class="btn-primary btn2">Apply</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card1 my-4">
                <div class="row mt-4">
                    <span class="ml-5 job">Job Description</span>
                </div>
                <div class="row mt-2">
                    <span class="ml-5 description">Job description</span>
                </div>
                <div class="row mt-1">
                    <span class="ml-5 description">Greetings from Beauto System Pvt Ltd,</span>
                </div>
                <div class="row mt-1">
                    <span class="ml-5 description">{{dataone?.jobDescription}}</span>
                </div>
                <div class="row mt-4">
                    <span class="ml-5 location"><u>Work Location - Pune</u>
                    </span>
                </div>
                <div class="row mt-4">
                    <span class="ml-5 location"><u>Experience: {{dataone?.experienceInYears}} years</u>
                    </span>
                </div>
                <div class="row my-3">
                    <div class="col-sm-2 ml-5 role">
                        <div class="row">Role</div>
                        <div class="row">Industry Type</div>
                        <div class="row">Functional Area</div>
                        <div class="row">Employment Type</div>
                        <div class="row">Role Category</div>
                    </div>
                    <div class="col-sm-9 role">

                        <div class="row">Software Developer</div>
                        <div class="row">IT-Software / Software Services</div>
                        <div class="row">IT Software - Application Programming, Maintenance</div>
                        <div class="row">Full Time, Permanent</div>
                        <div class="row">Programming & Design</div>

                    </div>
                </div>
                <div class="row mt-2">
                    <span class="ml-5 location">Key Skills
                    </span>
                </div>
                <div class="row mb-3 ml-4">
                     <span class="ml-2 mt-3 skill" *ngFor="let data of dataone.skills">{{data}}</span>
                </div>
               
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>