.head{
    background-color: #D5E1FF;
    height: 88px;
}
.Dashboard{
    background-color: #F7F7F7;
    overflow: hidden;
}
.title{
    font-weight: bold;
    font-size: large;
}
.card1{
    width: 86%;
   // bottom: 7%;
}
.great{
    font-weight: bold;
}
.company{
    font-size: small;
    color: #706B6B;
}
.comp{
    font-size: small;
    color: #706B6B;
    font-weight: bold;
}
.pi{
    font-size: 25px;
    color: #9C9C9B;
}
.logo{
    border: 1px solid #D2D3D2;
    width: 61px;
    height: 62px;
}
.btn1{
    background-color: white;
    border: 1px solid blue;
    width: 97%;
    height: 102%;
    font-weight: bold;
    color: blue;
    float: right
}
.btn2{
    width: 90px;
    height: 37px;
    font-weight: bold;
}
.job{
    font-weight: bold;
}
.description{
    color: #3A3A5A;
    font-size: small;
}
.location{
    font-size: small;
    font-weight: bold;
}
.role{
    font-size: small;
    color: #9C9C9B;
}
.roles{
    font-weight: bold;
    font-size: small;
    color:#686868;
    text-align: center;
}
.submit{
    color: white;
    background-color: #3E5EFF;
}
.dept{
    width: 73%;
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
}
.pi-times{
    display: none;
}
.skill{
    border: 1px solid #9C9C9B;;
    font-size: small;
    border-radius: 8px;
    height: 26px;
    width: 79px;
    text-align: center;
    display: inline-block;
}
.apply{
    width: 97%;
    height: 102%;
    color: white;
 
    float: right
}