<div class="Dashboard">
    <div class="row head">
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card card1">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="my-3 ml-2">
                                <span style="color: blue"> {{dataone?.jobId}} </span> Position For <span style="color: orange "> {{dataone?.jobTitle}} </span>
                            <!-- <p class="ml-5 title mt-3">{{dataone?.jobTitle}}</p> -->
                        </div>
                        <div class="mt-0">
                            <p class="ml-5 comp">Beauto System Pvt Ltd</p>
                        </div>
                       
                        <div class="company ml-5 my-1">
                            <i class="pi pi-briefcase " aria-hidden="true"></i>
                            <span class="ml-1">{{dataone?.experienceInYears}} Year</span>
                        </div>
                        <div class="company ml-5 my-1">
                            <i class="pi pi-map-marker" aria-hidden="true"></i>
                            <span class="ml-1">{{dataone?.location}}</span>
                        </div>
                        <div class="company ml-5 my-1">
                            <i class="pi pi-android"></i>
                            <span class="ml-1">{{dataone?.skills}}</span>
                        </div>
                        <div class="company ml-5 my-1 mb-3">
                            <i class="pi pi-file-o"></i>
                            <span class="ml-1">Not Disclosed</span>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="row mt-4">
                          
                            <div class="ml-5"> <span> <img src="../../../assets/output-onlinepngtools.png"
                                        class="logo">
                                </span>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-6"> <button  class="btn btn-primary btn1 mr-2">Save</button></div>
                            <div class="col-sm-6">
                                 <button class="btn btn-primary apply mr-3"   *ngIf="role === '0'" (click)="ApplyJob()">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card1 my-4">
                <div class="row ml-4">
                    <div class="col-sm-10">
                        <div class=" mt-4">
                            <span class=" job">Job Description</span>
                        </div>
        
                        <div class=" mt-2">
                           
                            <div class="description">Job description</div>
                          
                        </div>
                        <div class=" mt-1">
                            <span class="description great">Greetings from Beauto System Pvt Ltd,</span>
                        </div>
                        <div class="mt-1">
                            <span class="description">{{dataone?.jobDescription}}</span>
                        </div>
                        <div class=" mt-4">
                            <span class="location"><u>Work Location - Pune</u>
                            </span>
                        </div>
                        <div class="mt-4">
                            <span class="location"><u>Experience: {{dataone?.experienceInYears}} years</u>
                            </span>
                        </div>
                        <div class="row my-3 ml-0">
                            <div class="col-sm-3 roles">
                                <div class="row my-1">Role</div>
                                <div class="row my-1">Industry Type</div>
                                <div class="row my-1">Functional Area</div>
                                <div class="row my-1">Employment Type</div>
                                <div class="row my-1">Role Category</div>
                            </div>
                            <div class="col-sm-8 role">
        
                                <div class="row my-1 ml-1">Software Developer</div>
                                <div class="row my-1 ml-1">IT-Software / Software Services</div>
                                <div class="row my-1 ml-1">IT Software - Application Programming, Maintenance</div>
                                <div class="row my-1 ml-1">Full Time, Permanent</div>
                                <div class="row my-1 ml-1">Programming & Design</div>
        
                            </div>
                        </div>
                        <div class="row mt-2 ml-0">
                            <span class=" location">Key Skills:
                            </span>
                        </div>
                        <div class=" mb-3 ml-0">
                             <span class="ml-3 mt-3 skill" *ngFor="let data of dataone?.skills">{{data}}</span>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
            </div>
        </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>