<div class="Dashboard">
    <div class="row head">
        <div class="my-3 portal ml-5"><span class="ml-3">Job Portal Management</span></div>
    </div>
    <div class="row my-4">
        <div class="col-sm-9">
            <div class="row chart ml-5">
                <div class="col-sm-3 my-2">
                    <p-chart type="doughnut" [data]="data1"></p-chart>
                </div>
                <div class="col-sm-3">
                    <p-chart type="doughnut" [data]="data2"></p-chart>
                </div>
                <div class="col-sm-3">
                    <p-chart type="doughnut" [data]="data3"></p-chart>
                </div>
                <div class="col-sm-3">
                    <p-chart type="doughnut" [data]="data4"></p-chart>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="job mr-5">
                <div class="row">
                    <div class="my-3 total ml-5">Total Job Seeker</div>
                </div>
                <div class="row my-1">
                    <div class="col-sm-2 ml-3">
                        <div class="num my-2 icon">
                            <div class="count">103</div>
                        </div>
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm-9">
            <div class="row chart ml-5">
                <div class="col-sm-1"> </div>
                <div class="col-sm-9">
                    <div class="mt-3 detail">Job Applicant Details</div>
                    <p-chart type="bar" [data]="databar"></p-chart>
                </div>
                <div class="col-sm-2"> </div>

            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="job1 mr-5">
                <div class="row">
                    <div class="my-3 total ml-5">Total Employee</div>
                </div>
                <div class="row my-1">
                    <div class="col-sm-2 ml-3">
                        <div class="num1 my-2 icon">
                            <div class="count">103</div>
                        </div>
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card ml-5 mr-5 mb-5" >
            <div class="card-header">
                    <div class="d-flex">
                            <div class="my-2 mr-auto">
                                    <span class="evnt">Employee List</span>
                            </div>
                            <div class="my-2 mr-2">
                                    <div class="input-group">
                                            <input type="text" class="form-control"
                                                    [(ngModel)]="term"
                                                    placeholder="Search Employee">
                                            <div class="input-group-append">
                                                    <button class="btn btn-secondary serachbtn"
                                                            type="button">
                                                            <i class="pi pi-search"></i>
                                                    </button>
                                            </div>
                                    </div>
                            </div>
                    </div>

            </div>
            <div class="card-body my-1">

                    <table class="table table-striped my-2" style="margin: auto; width: 85%;">
                            <thead>
                                    <tr class="headone">
                                            <th>NO</th>
                                            <th align="center" scope="col">First Name</th>
                                            <th align="center" scope="col">Last Name</th>
                                            <th align="center" scope="col">Email</th>
                                            <th align="center" scope="col">Phone No.</th>
                                            <th align="center" scope="col">Title</th>
                                    </tr>
                            </thead>
                            <tbody>
                                    <tr
                                            *ngFor="let user of infodetail | filter:term | paginate: configer; let i = index">

                                            <td scope="row" class="name">{{i+1}}</td>
                                            <td class="name">{{user?.firstName}}</td>
                                            <td align="center" class="blue">{{user?.lastName}}</td>
                                            <td align="center" class="name" style="color: red">
                                                    {{user?.email}}</td>
                                            <td align="center" class="name">{{user?.phoneNo}}</td>
                                            <td align="center" class="red" style="color: blue">
                                                    {{user?.title}}</td>
                                    </tr>



                            </tbody>

                    </table>
                    <div class="text-right">
                            <pagination-controls (pageChange)="pageChanged($event)">
                            </pagination-controls>
                    </div>
            </div>
    </div>
</div>