.Dashboard{
    background-color: #F2F2F7;
    height: 92vh;
    overflow-x: hidden;
}
.head{
    background-color: #E9E4FA;
}
.portal{
    color: #9B7BCD;
    font-weight: bold;
}
.chart{
    box-shadow: 0 5px 9px #BFBEBF;
    background-color: white;
}
.job{
    box-shadow: 0 5px 9px #BFBEBF;
    background-color: #3D62F0;
   background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.job1{
    box-shadow: 0 5px 9px #BFBEBF;
    background-color: #FD5664;
    background-image: linear-gradient(141deg, #F989B0 24%, #F1948A 47%, #F771A0 70%);
 }
 .job2{
    box-shadow: 0 5px 9px #BFBEBF;
    background-image: linear-gradient(141deg, #F7DC6F 24%, #F9E79F 47%, #F4D03F 70%);
 }
 .job3{
    box-shadow: 0 5px 9px #BFBEBF;
     background-image: linear-gradient(141deg, #7DCEA0 24%, #48C9B0 35%, #58D68D 70%);
 }
.total{
    font-weight: bold;
    color: white;
    font-size: large;
}
.circle{
    background-color: white;
    border-radius: 39px;
}
.num{
    background-color: #FACDBB;
    margin-top: 18px;
    border-radius: 73px;
    width: 55px;
    height: 55px;
  }
  .count{
    padding: 9px 0px 0px 7px;
    color: white;
    font-weight: 900;
    font-size: x-large;
 }

.num1{
    background-color: #FACDBB;
     margin-top: 18px;
    border-radius: 73px;
    width: 55px;
    height: 55px;
}
.card-header{
    padding: 0px !important;
}
th ,td {
    border-right: 1px solid white;
    // color: white;
}
.card-body{
    padding: 5px 15px 0px 20px;
}
.headone{
    height: 10px!important;
    background-color: #90A4AE;
    color: white;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #F4F4F5
     }
 
     .table-striped tbody tr:nth-of-type(even){
         background-color: #F5FBFF
          }
          .evnt{

            color: #157DEC;
            margin-left: 10px;
            font-weight: bold;
            
            }
            .headone{
                height: 10px!important;
                background-color: #90A4AE;
                color: white;
                text-align: center;
            }
.detail{
    font-weight: bold;
}
