.head{
    background-color: blue;
    height: 160px;
}
.Dashboard{
    background-color: #F7F7F7;
    overflow: hidden;
}
.search{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.box{
width: 57%;
height: 52px;
font-size: small;
}
.btn1{
width: 80px;
}
.new{
    font-weight: bold;
    font-size: larger;
    }
.name{
 font-size: small;
 font-weight: bold;
 }
 .company{
    font-size: small;
    color: #9C9C9B;
    }
    .pi{
        font-size: 25px;
    }
