<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 candidate">
        <div class="row mt-3 mb-3">
            <div class="col-sm-8 ">
                <img class="user-img" class="img" src="http://lorempixel.com/100/100">
                <label class="ml-3 name">{{ProfileData?.firstName}} {{ProfileData?.lastName}}
                    <i class="pi pi-pencil mt-2" (click)="EditEmployee()"></i>
                </label>
                <div class="row">

                    <div class="col-sm-6">
                        <span class="envelop"><i class="pi pi-map-marker" aria-hidden="true"></i></span>
                        <span class=" mt-2 view"> Pune ,INDIA</span>
                    </div>
                    <div class="col-sm-6 ">
                        <span class="envelop mr-3"><i class="pi pi-mobile " aria-hidden="true"></i></span>
                        <span class=" mt-2 view" style="text-align: left;">{{ProfileData?.contact}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span class="envelop"><i class="pi pi-briefcase ml-3" aria-hidden="true"></i></span>
                        <span class=" mt-2 ml-1 view">UI Developer</span>
                    </div>
                    <div class="col-sm-6">
                        <span class="envelop"> <i class="pi pi-envelope " aria-hidden="true"></i></span>
                        <span class=" mt-1 ml-2 view">{{ProfileData?.email}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <span class="envelop"><i class="pi pi-id-card ml-3" aria-hidden="true"></i></span>
                        <span class=" mt-2 ml-1 view">Job_REMJ</span>
                    </div>
                    <div class="col-sm-6">
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <label class="view mt-2 ml-3 stren">Profile Strength (Excellent)</label>
                    </div>
                    <div class="col-sm-6">
                        <span class=" mt-2 mr-5 view views">100%</span>
                    </div>
                </div>

                <hr>
            </div>
            <div class="col-sm-4 mt-3 pending">
                <button type="button" class=" btn btn-primary assign mt-5 ml-3" (click)="viewjob()">Assign</button>
            </div>

            <p-dialog [(visible)]="displayjob" [style]="{width: '30%'}" class="abc" class="aa">
                <p-header class="dialogHeader mt-2">
                    <!-- <img class="imge" src="../../../assets/logo/Create Job.png" alt=""> -->
                    <span class="ml-2 mt-3 report">Assign</span>
                    <i class=" tick pi pi-times mt-2 " aria-hidden="true" (click)="removeWindow()"></i>
                </p-header>
               
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="row my-2">
                                <div class="col-sm-4">
                                    <label>Employee :</label>
                                </div>
                                <div class="col-sm-8">
                                    <select id="employee" name="employee" class="box">
                                        <option *ngFor="let employee of infodetail">
                                            {{employee?.firstName}} {{employee?.lastName}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-sm-4">
                                    <label>Email Id :</label>
                                </div>
                                <div class="col-sm-8">
                                    {{ProfileData?.email}}
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-sm-4">
                                    <label>Job Id :</label>
                                </div>
                                <div class="col-sm-8">
                                   hiiii

                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-sm-4">
                                    <label>Resume :</label>
                                </div>
                                <div class="col-sm-8">
                                Resume.pdf

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
              
            </p-dialog>
        </div>
    </div>
    <div class="col-sm-2"></div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card card1">
                <div class="header"><span class=" my-2">View Resume</span></div>
                <div class="ml-3 attach">Resume is the most important document recruiters look for.
                    Recruiters generally do not look at profiles without resumes.</div>
                    <div class=" my-3 ml-3 upload_resume">
                        <span
                            style="color: #4A90E2;">{{ResumeInfo?.resumePath?.split('/')[this.ResumeInfo?.resumePath?.split('/').length-1]}}
                            - Uploaded on - {{ResumeInfo?.date}} </span>
                        <i style="color: #4A90E2;" (click)="downloadResume()" class="pi pi-download ml-5"></i>
        
                    </div>
            </div>
            <div class="card my-3">
                <p class="header my-2">View Other Document</p>

                <div class="ml-3  upload_resume">
                    <div *ngFor="let dataone of otherDocPathName">
                        <span style="color: #4A90E2;">{{dataone?.split('/')[dataone?.split('/').length-1]}}
                            - Uploaded on - {{ResumeInfo?.date}} <i (click)="downloadOtherDoc(dataone)"
                                class="pi pi-download ml-5 mt-4"></i></span>
                    </div>
                   

                </div>

            </div>
          
                <div class=" mt-3 card">              
                <p class="header my-2">View Primary Skills</p>               
                <div class="col-sm-4"></div>
                <div class="displayskill ml-4 mb-4">
                   <span class="clipskill mr-2" *ngFor="let Skill of ProfileData?.primarySkill">  {{Skill}} </span>
                </div>               
                </div>
                <div class=" mt-3 card">              
                    <p class="header my-2 ">View Secondary Skills</p>               
                    <div class="col-sm-4"></div>
                    <div class="displayskill ml-4 mb-4">
                       <span class="clipskill mr-2" *ngFor="let Skill of ProfileData?.secondarySkill;let i=index">  {{Skill}} </span>
                    </div>               
                    </div>
           
        </div>
        <div class="col-sm-2"></div>
    </div>
